@ -1,41 +1 @@
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
project-commands.txt

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules
.next/trace
.next/postcss.js
.next/package.json
.next/postcss.js.map
.next/build-manifest.json
.next/routes-manifest.json
.next/app-build-manifest.json
.next/prerender-manifest.json
.next/fallback-build-manifest.json
.next/react-loadable-manifest.json
.next/types/app/page.ts
.next/server/chunks/441.js
.next/server/chunks/853.js
.next/server/app/page.js
.next/server/pages/_app.js
.next/types/app/api/health/route.ts
.next/types/app/api/assets/route.ts
.next/types/app/(root)/welcome/page.ts
.next/server/chunks/1105.js
.next/server/chunks/1178.js
.next/server/chunks/1267.js
.next/server/chunks/1286.js
.next/server/chunks/2449.js
.next/server/chunks/2498.js
.next/server/chunks/2519.js
.next/server/chunks/2711.js
.next/server/chunks/3322.js
.next/server/chunks/3714.js
.next/server/chunks/3821.js
.next/server/chunks/4270.js
.next/server/chunks/4680.js
.next/server/chunks/5016.js
.next/server/chunks/5333.js
.next/server/chunks/5557.js
.next/server/chunks/5758.js
.next/server/chunks/5788.js
.next/server/chunks/6812.js
.next/server/chunks/7225.js
.next/server/chunks/7509.js
.next/server/chunks/7570.js
.next/server/chunks/7769.js
.next/server/chunks/9008.js
.next/server/chunks/9899.js
.next/types/app/api/assets/\[id\]/route.ts
.next/types/app/api/budgets/route.ts
.next/cache/.rscinfo
.next/server/app/api/health/route.js
.next/server/app/api/assets/route.js
.next/types/app/api/budgets/\[id\]/route.ts
.next/types/app/api/assets/stats/route.ts
.next/server/app/_not-found/page.js
.next/types/app/api/webhooks/route.ts
.next/server/app/(root)/welcome/page.js
.next/server/app/api/budgets/route.js
.next/types/app/api/budgets/stats/route.ts
.next/server/app/api/assets/\[id\]/route.js
.next/server/app/api/assets/stats/route.js
.next/types/app/(dashboard)/bills/page.ts
.next/types/app/(dashboard)/goals/page.ts
.next/server/app/api/budgets/\[id\]/route.js
.next/server/app/api/webhooks/route.js
.next/server/app/api/budgets/stats/route.js
.next/types/app/(dashboard)/assets/page.ts
.next/types/app/api/liabilities/route.ts
.next/types/app/api/liabilities/\[id\]/route.ts
.next/server/app/(dashboard)/bills/page.js
.next/server/app/(dashboard)/goals/page.js
.next/server/app/(dashboard)/assets/page.js
.next/server/pages/_error.js
.next/server/app/api/liabilities/route.js
.next/types/app/(dashboard)/budgeting/page.ts
.next/server/app/api/liabilities/\[id\]/route.js
.next/types/app/(root)/welcome/layout.ts
.next/server/app/favicon.ico/route.js
.next/server/app/(dashboard)/budgeting/page.js
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/6.pack
.next/cache/webpack/client-production/7.pack
.next/cache/webpack/client-production/8.pack
.next/cache/webpack/client-production/9.pack
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/4.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/6.pack
.next/cache/webpack/server-production/7.pack
.next/cache/webpack/server-production/8.pack
.next/cache/webpack/server-production/9.pack
.next/types/app/(dashboard)/liabilities/page.ts
.next/types/app/(dashboard)/transactions/page.ts
.next/types/app/(dashboard)/layout.ts
.next/types/app/(dashboard)/report/\[reportId\]/page.ts
.next/server/app/(dashboard)/liabilities/page.js
.next/server/app/(dashboard)/transactions/page.js
.next/server/app/(dashboard)/report/\[reportId\]/page.js
.next/cache/webpack/client-production/10.pack
.next/cache/webpack/client-production/11.pack
.next/cache/webpack/client-production/12.pack
.next/cache/webpack/client-production/13.pack
.next/cache/webpack/client-production/14.pack
.next/cache/webpack/client-production/15.pack
.next/cache/webpack/client-production/16.pack
.next/cache/webpack/client-production/17.pack
.next/cache/webpack/client-production/18.pack
.next/cache/webpack/client-production/19.pack
.next/cache/webpack/client-production/20.pack
.next/cache/webpack/client-production/21.pack
.next/cache/webpack/client-production/22.pack
.next/cache/webpack/client-production/23.pack
.next/cache/webpack/client-production/24.pack
.next/cache/webpack/client-production/25.pack
.next/cache/webpack/client-production/26.pack
.next/cache/webpack/client-production/27.pack
.next/cache/webpack/client-production/28.pack
.next/cache/webpack/client-production/29.pack
.next/cache/webpack/client-production/30.pack
.next/cache/webpack/client-production/31.pack
.next/cache/webpack/client-production/32.pack
.next/cache/webpack/client-production/33.pack
.next/cache/webpack/client-production/34.pack
.next/cache/webpack/client-production/35.pack
.next/cache/webpack/client-production/36.pack
.next/cache/webpack/client-production/37.pack
.next/cache/webpack/client-production/38.pack
.next/cache/webpack/client-production/39.pack
.next/cache/webpack/client-production/40.pack
.next/cache/webpack/client-production/41.pack
.next/cache/webpack/client-production/42.pack
.next/cache/webpack/client-production/43.pack
.next/cache/webpack/client-production/44.pack
.next/cache/webpack/server-production/10.pack
.next/cache/webpack/server-production/11.pack
.next/cache/webpack/server-production/12.pack
.next/cache/webpack/server-production/13.pack
.next/cache/webpack/server-production/14.pack
.next/cache/webpack/server-production/15.pack
.next/cache/webpack/server-production/16.pack
.next/cache/webpack/server-production/17.pack
.next/cache/webpack/server-production/18.pack
.next/cache/webpack/server-production/19.pack
.next/cache/webpack/server-production/20.pack
.next/cache/webpack/server-production/21.pack
.next/cache/webpack/server-production/22.pack
.next/cache/webpack/server-production/23.pack
.next/cache/webpack/server-production/24.pack
.next/cache/webpack/server-production/25.pack
.next/cache/webpack/server-production/26.pack
.next/cache/webpack/server-production/27.pack
.next/cache/webpack/server-production/28.pack
.next/cache/webpack/server-production/29.pack
.next/cache/webpack/server-production/30.pack
.next/cache/webpack/server-production/31.pack
.next/cache/webpack/server-production/32.pack
.next/cache/webpack/server-production/33.pack
.next/cache/webpack/server-production/34.pack
.next/cache/webpack/server-production/35.pack
.next/cache/webpack/server-production/36.pack
.next/cache/webpack/server-production/37.pack
.next/cache/webpack/server-production/38.pack
.next/cache/webpack/server-production/39.pack
.next/cache/webpack/server-production/40.pack
.next/cache/webpack/server-production/41.pack
.next/cache/webpack/server-production/42.pack
.next/cache/webpack/server-production/43.pack
.next/cache/webpack/server-production/44.pack
.next/cache/webpack/server-production/45.pack
.next/cache/webpack/edge-server-production/0.pack
.next/cache/webpack/edge-server-production/1.pack
.next/cache/.tsbuildinfo
.next/types/package.json
.next/cache/.previewinfo
.next/server/pages/_document.js
.next/cache/eslint/.cache_1lq2zv0
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/server-production/index.pack
.next/server/next-font-manifest.js
.next/server/middleware.js
.next/server/app/favicon.ico/route.js.map
.next/server/app/page.js.nft.json
.next/server/edge/chunks/_cec22463._.js
.next/cache/webpack/edge-server-production/index.pack
.next/static/chunks/_e69f0d32._.js
.next/static/chunks/_089cbd27._.js
.next/static/chunks/_97ec5c96._.js
.next/types/cache-life.d.ts
.next/server/next-font-manifest.json
.next/server/pages/_app.js.nft.json
.next/server/app/api/assets/route.js.nft.json
.next/server/app/api/health/route.js.nft.json
.next/static/chunks/_1583cacc._.css
.next/server/app/api/assets/\[id\]/route.js.nft.json
.next/server/app/(root)/welcome/page.js.nft.json
.next/server/app/api/budgets/route.js.nft.json
.next/diagnostics/framework.json
.next/static/development/_ssgManifest.js
.next/server/app/api/budgets/\[id\]/route.js.nft.json
.next/server/app/api/assets/stats/route.js.nft.json
.next/server/chunks/ssr/4787e_next_396ab3a9._.js
.next/server/app/_not-found/page.js.nft.json
.next/server/app/api/webhooks/route.js.nft.json
.next/server/app/api/budgets/stats/route.js.nft.json
.next/server/chunks/4787e_next_7195d33f._.js
.next/server/app/(dashboard)/bills/page.js.nft.json
.next/server/app/(dashboard)/goals/page.js.nft.json
.next/server/app/(dashboard)/assets/page.js.nft.json
.next/server/pages/_error.js.nft.json
.next/server/app/api/liabilities/\[id\]/route.js.nft.json
.next/server/app/api/liabilities/route.js.nft.json
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-production/index.pack.old
.next/server/chunks/ssr/app_1f3630ef._.js
.next/server/app/favicon.ico/route.js.nft.json
.next/server/middleware.js.map
.next/server/app/(dashboard)/budgeting/page.js.nft.json
.next/static/development/_buildManifest.js
.next/server/app/(dashboard)/liabilities/page.js.nft.json
.next/server/edge/chunks/_cec22463._.js.map
.next/cache/webpack/edge-server-production/index.pack.old
.next/server/app/(dashboard)/report/\[reportId\]/page.js.nft.json
.next/server/app/(dashboard)/transactions/page.js.nft.json
.next/server/webpack-runtime.js
.next/static/chunks/_089cbd27._.js.map
.next/static/chunks/_97ec5c96._.js.map
.next/server/chunks/ssr/4787e_next_396ab3a9._.js.map
.next/server/pages-manifest.json
.next/server/chunks/4787e_next_7195d33f._.js.map
.next/static/chunks/_1583cacc._.css.map
.next/server/pages/_document.js.nft.json
.next/static/css/3aa1b106d9338de0.css
.next/server/chunks/ssr/4787e_next_dist_282f3cff._.js
.next/static/media/favicon.b2a3274c.ico
.next/static/chunks/4787e_next_dist_7efa1f19._.js
.next/static/chunks/4787e_next_dist_c67751b4._.js
.next/server/app/favicon.ico/route/build-manifest.json
.next/server/chunks/ssr/app_1f3630ef._.js.map
.next/server/chunks/ssr/\[turbopack\]_runtime.js
.next/build/chunks/\[turbopack\]_runtime.js
.next/server/chunks/\[turbopack\]_runtime.js
.next/server/edge-runtime-webpack.js
.next/server/chunks/ssr/4787e_next_dist_282f3cff._.js.map
.next/server/chunks/ssr/4787e_next_dist_esm_f73e568e._.js
.next/server/app-paths-manifest.json
.next/static/chunks/4787e_next_dist_7efa1f19._.js.map
.next/static/chunks/4787e_next_dist_c67751b4._.js.map
.next/static/chunks/372-099ca176091ba214.js
.next/static/chunks/882-7759a4b59d1f0e80.js
.next/diagnostics/build-diagnostics.json
.next/server/edge/chunks/edge-wrapper_bd2c82d9.js
.next/static/chunks/2615-ef459356066a904c.js
.next/static/chunks/2660-ec18ed7c7d920619.js
.next/static/chunks/6010-e354f2f964259944.js
.next/static/chunks/6251-e4bcc6956fa049a7.js
.next/static/chunks/9170-e9f62e3a39d74b93.js
.next/server/middleware-manifest.json
.next/static/chunks/pages/_app-569f3a44f4ba0cbc.js
.next/static/chunks/1083-41a5d2f93c108804.js
.next/static/chunks/1278-ac717afdb2937b86.js
.next/static/chunks/1382-8fe78e633c5c53f5.js
.next/static/chunks/1580-463e93ee40d23563.js
.next/static/chunks/2039-cffa6e53dc96d9b6.js
.next/static/chunks/3533-514315d8a04cfdfb.js
.next/static/chunks/3804-8137ea6234fd326a.js
.next/static/chunks/3898-fdb53bd04d24a107.js
.next/static/chunks/4463-308e42cfb2fbab71.js
.next/static/chunks/5358-1b2e174e3339f5e9.js
.next/static/chunks/5858-a1a26ed8c2ce49cd.js
.next/static/chunks/6540-9697f25c31cbad35.js
.next/static/chunks/6678-feb9e89b198970fe.js
.next/static/chunks/6868-c5d28f81d02bc0da.js
.next/static/chunks/6960-47ee3c026a7fdc62.js
.next/static/chunks/7038-48b36c1d67d3dbf6.js
.next/static/chunks/7055.41051fa1a1cd0b9e.js
.next/static/chunks/7604-59ef6e5c17a5b701.js
.next/static/chunks/8301-56908c515e29133b.js
.next/static/chunks/8656-c4c04635fa59343b.js
.next/static/chunks/8885.08b30e67747565f9.js
.next/static/chunks/9195-c3c7cc9e389ef999.js
.next/static/chunks/9256-a83b5f6b1dea3f57.js
.next/static/chunks/main-3e28b92ffa31291d.js
.next/server/app/favicon.ico/route/app-build-manifest.json
.next/server/app/favicon.ico/route/app-paths-manifest.json
.next/static/chunks/app/api/health/route-187fed97d076d0e5.js
.next/static/chunks/app/api/assets/route-187fed97d076d0e5.js
.next/static/chunks/app/_not-found/page-9cca6933be211b4e.js
.next/static/chunks/app/api/budgets/route-187fed97d076d0e5.js
.next/static/chunks/app/(root)/welcome/page-0234cd62a9a62e2d.js
.next/static/chunks/app/api/assets/\[id\]/route-187fed97d076d0e5.js
.next/static/chunks/app/api/assets/stats/route-187fed97d076d0e5.js
.next/static/chunks/app/api/budgets/\[id\]/route-187fed97d076d0e5.js
.next/static/chunks/app/api/webhooks/route-187fed97d076d0e5.js
.next/static/chunks/app/api/budgets/stats/route-187fed97d076d0e5.js
.next/server/middleware/middleware-manifest.json
.next/static/chunks/4787e_next_dist_client_36029ad0._.js
.next/server/chunks/ssr/\[turbopack\]_runtime.js.map
.next/static/chunks/app/layout-fe1394aadf86a866.js
.next/static/media/028c0d39d2e8f589-s.p.woff2
.next/build/chunks/\[turbopack\]_runtime.js.map
.next/static/chunks/pages/_error-9a780ef12b22574f.js
.next/server/chunks/ssr/4787e_next_dist_esm_f73e568e._.js.map
.next/server/chunks/\[turbopack\]_runtime.js.map
.next/static/chunks/app/api/liabilities/route-187fed97d076d0e5.js
.next/static/chunks/app/api/liabilities/\[id\]/route-187fed97d076d0e5.js
.next/server/edge-runtime-webpack.js.map
.next/static/chunks/app/(root)/welcome/layout-187fed97d076d0e5.js
.next/static/chunks/webpack-78f7174140e4b47f.js
.next/static/chunks/4787e_next_dist_compiled_25146208._.js
.next/server/chunks/ssr/d69c2_swr_dist_4db0117e._.js
.next/server/edge/chunks/edge-wrapper_bd2c82d9.js.map
.next/static/chunks/app/(dashboard)/report/\[reportId\]/page-187fed97d076d0e5.js
.next/static/chunks/app/(dashboard)/layout-339bcdfecea72c5a.js
.next/static/chunks/app_layout_tsx_1b6b0d83._.js
.next/server/middleware-build-manifest.js
.next/server/server-reference-manifest.js
.next/static/chunks/d69c2_swr_dist_df155b56._.js
.next/static/chunks/97be0265-027ba01c53b5f49f.js
.next/static/chunks/main-app-4af5ed1f2cd0a730.js
.next/static/chunks/app/(dashboard)/bills/loading-ae8541f8115f1a63.js
.next/static/chunks/app/(dashboard)/goals/loading-b01f3fe7e13512d3.js
.next/static/chunks/4787e_next_dist_client_36029ad0._.js.map
.next/static/chunks/framework-dcf3c82466279251.js
.next/static/chunks/polyfills-42372ed130431b0a.js
.next/static/chunks/app/(dashboard)/budgeting/loading-04f40d51e52ed03d.js
.next/static/development/_clientMiddlewareManifest.json
.next/server/server-reference-manifest.json
.next/static/chunks/4787e_next_dist_compiled_25146208._.js.map
.next/server/chunks/ssr/node_modules__pnpm_e26074ee._.js
.next/server/chunks/ssr/node_modules__pnpm_5341867a._.js
.next/server/chunks/ssr/node_modules__pnpm_ae1033c2._.js
.next/server/chunks/ssr/node_modules__pnpm_ff711698._.js
.next/server/edge/chunks/f34d9_@clerk_nextjs_dist_esm_36ae341f._.js
.next/build/chunks/node_modules__pnpm_ec38a98b._.js
.next/server/chunks/ssr/1673e_recharts_es6_23dfd922._.js
.next/server/chunks/ssr/d69c2_swr_dist_4db0117e._.js.map
.next/static/chunks/1673e_recharts_es6_dca1eccc._.js
.next/static/chunks/node_modules__pnpm_d02ddd6c._.js
.next/static/chunks/d69c2_swr_dist_df155b56._.js.map
.next/server/app/page_client-reference-manifest.js
.next/server/app/api/health/route_client-reference-manifest.js
.next/server/app/api/assets/route_client-reference-manifest.js
.next/static/media/Geist_Variable-s.p.f406b17f.woff2
.next/server/app/api/assets/\[id\]/route_client-reference-manifest.js
.next/server/edge/chunks/620f5_cookie_dist_index_dda2260d.js
.next/static/chunks/app_favicon_ico_mjs_dd6ebcd6._.js
.next/server/app/api/budgets/route_client-reference-manifest.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/api/assets/stats/route_client-reference-manifest.js
.next/server/app/api/budgets/\[id\]/route_client-reference-manifest.js
.next/server/app/(root)/welcome/page_client-reference-manifest.js
.next/server/app/api/budgets/stats/route_client-reference-manifest.js
.next/server/app/api/webhooks/route_client-reference-manifest.js
.next/server/app/(dashboard)/bills/page_client-reference-manifest.js
.next/server/app/(dashboard)/goals/page_client-reference-manifest.js
.next/server/chunks/ssr/4787e_next_dist_client_components_9a9abe44._.js
.next/server/chunks/ssr/4787e_next_dist_client_components_bb54d81e._.js
.next/server/app/(dashboard)/assets/page_client-reference-manifest.js
.next/server/chunks/ssr/\[root-of-the-server\]__23470574._.js
.next/server/chunks/ssr/\[root-of-the-server\]__3a82e162._.js
.next/server/chunks/ssr/\[root-of-the-server\]__785d3903._.js
.next/server/chunks/ssr/\[root-of-the-server\]__c7e7d7fe._.js
.next/server/chunks/ssr/\[root-of-the-server\]__d8593af1._.js
.next/server/chunks/ssr/\[root-of-the-server\]__e6d84160._.js
.next/server/chunks/ssr/\[root-of-the-server\]__ec02df30._.js
.next/server/app/api/liabilities/\[id\]/route_client-reference-manifest.js
.next/server/edge/chunks/f34d9_@clerk_nextjs_dist_esm_36ae341f._.js.map
.next/server/edge/chunks/\[root-of-the-server\]__de110ef0._.js
.next/server/app/api/liabilities/route_client-reference-manifest.js
.next/build/chunks/\[root-of-the-server\]__4b6f6259._.js
.next/build/chunks/\[root-of-the-server\]__9abb3e35._.js
.next/server/chunks/ssr/node_modules__pnpm_e26074ee._.js.map
.next/server/chunks/\[root-of-the-server\]__c478b14a._.js
.next/server/chunks/ssr/node_modules__pnpm_5341867a._.js.map
.next/server/chunks/ssr/node_modules__pnpm_ae1033c2._.js.map
.next/server/chunks/ssr/node_modules__pnpm_ff711698._.js.map
.next/build/chunks/node_modules__pnpm_ec38a98b._.js.map
.next/server/app/(dashboard)/budgeting/page_client-reference-manifest.js
.next/static/chunks/4787e_next_dist_compiled_react-dom_8ba0017e._.js
.next/server/chunks/ssr/1673e_recharts_es6_23dfd922._.js.map
.next/server/app/(dashboard)/transactions/page_client-reference-manifest.js
.next/static/chunks/1673e_recharts_es6_dca1eccc._.js.map
.next/static/chunks/node_modules__pnpm_d02ddd6c._.js.map
.next/server/app/(dashboard)/report/\[reportId\]/page_client-reference-manifest.js
.next/server/app/(dashboard)/liabilities/page_client-reference-manifest.js
.next/static/chunks/61dca_@swc_helpers_cjs_28edb73c._.js
.next/server/chunks/ssr/1673e_recharts_es6_util_2942084a._.js
.next/static/chunks/1673e_recharts_es6_util_4ec44f4b._.js
.next/static/chunks/app_globals_css_e59ae46c._.single.css
.next/server/edge/chunks/620f5_cookie_dist_index_dda2260d.js.map
.next/server/chunks/ssr/1673e_recharts_es6_state_09fd6250._.js
.next/server/middleware-react-loadable-manifest.js
.next/server/chunks/ssr/4787e_next_dist_client_components_9a9abe44._.js.map
.next/server/chunks/ssr/4787e_next_dist_client_components_bb54d81e._.js.map
.next/server/chunks/ssr/ccf77_@clerk_shared_dist_80f6a1e4._.js
.next/server/edge/chunks/ccf77_@clerk_shared_dist_a5ef5818._.js
.next/static/chunks/1673e_recharts_es6_state_dcdef623._.js
.next/static/chunks/ccf77_@clerk_shared_dist_9e3e56f3._.js
.next/server/interception-route-rewrite-manifest.js
.next/server/chunks/ssr/\[root-of-the-server\]__23470574._.js.map
.next/server/chunks/ssr/\[root-of-the-server\]__3a82e162._.js.map
.next/server/chunks/ssr/\[root-of-the-server\]__785d3903._.js.map
.next/server/chunks/ssr/\[root-of-the-server\]__c7e7d7fe._.js.map
.next/server/chunks/ssr/\[root-of-the-server\]__d8593af1._.js.map
.next/server/chunks/ssr/\[root-of-the-server\]__e6d84160._.js.map
.next/server/chunks/ssr/\[root-of-the-server\]__ec02df30._.js.map
.next/server/edge/chunks/\[root-of-the-server\]__de110ef0._.js.map
.next/server/edge/chunks/228be_@clerk_backend_dist_e5327c47._.js
.next/build/chunks/\[root-of-the-server\]__4b6f6259._.js.map
.next/build/chunks/\[root-of-the-server\]__9abb3e35._.js.map
.next/static/chunks/4787e_next_dist_build_polyfills_polyfill-nomodule.js
.next/static/chunks/4787e_next_dist_compiled_react-dom_8ba0017e._.js.map
.next/server/chunks/\[root-of-the-server\]__c478b14a._.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_71dfb22e._.js
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_bdcff169._.js
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_ddb2bc6a._.js
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_a8dbc983._.js
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_eaeb216e._.js
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_fd2b0eee._.js
.next/static/chunks/61dca_@swc_helpers_cjs_28edb73c._.js.map
.next/server/chunks/ssr/1673e_recharts_es6_util_2942084a._.js.map
.next/static/chunks/1673e_recharts_es6_util_4ec44f4b._.js.map
.next/static/chunks/app_globals_css_e59ae46c._.single.css.map
.next/server/chunks/ssr/1673e_recharts_es6_state_09fd6250._.js.map
.next/server/chunks/ssr/4787e_next_dist_compiled_next-devtools_index_4479b3df.js
.next/server/chunks/ssr/ccf77_@clerk_shared_dist_80f6a1e4._.js.map
.next/server/edge/chunks/ccf77_@clerk_shared_dist_a5ef5818._.js.map
.next/static/chunks/1673e_recharts_es6_state_dcdef623._.js.map
.next/static/chunks/4787e_next_dist_compiled_next-devtools_index_fe030bb1.js
.next/static/chunks/ccf77_@clerk_shared_dist_9e3e56f3._.js.map
.next/server/chunks/ssr/c3e08_@clerk_clerk-react_dist_c8ecf521._.js
.next/server/edge/chunks/228be_@clerk_backend_dist_e5327c47._.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_71dfb22e._.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_bdcff169._.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_ddb2bc6a._.js.map
.next/static/chunks/c3e08_@clerk_clerk-react_dist_1f8d7bbe._.js
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_a8dbc983._.js.map
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_eaeb216e._.js.map
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_fd2b0eee._.js.map
.next/server/chunks/ssr/4787e_next_dist_server_route-modules_app-page_d0aaecc3._.js
.next/server/chunks/ssr/4787e_next_dist_compiled_next-devtools_index_4479b3df.js.map
.next/static/chunks/4787e_next_dist_compiled_next-devtools_index_fe030bb1.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_server_keyless-node_f056c621.js
.next/server/chunks/ssr/c3e08_@clerk_clerk-react_dist_c8ecf521._.js.map
.next/server/chunks/ssr/4787e_next_dist_client_components_builtin_forbidden_47012bdd.js
.next/server/chunks/ssr/4787e_next_dist_server_route-modules_app-page_d0aaecc3._.js.map
.next/static/chunks/c3e08_@clerk_clerk-react_dist_1f8d7bbe._.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_server_keyless-node_f056c621.js.map
.next/server/chunks/ssr/4787e_next_dist_client_components_builtin_global-error_497a6ac9.js
.next/server/chunks/ssr/4787e_next_dist_client_components_builtin_unauthorized_09b7ba3f.js
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_server_keyless-log-cache_0828dfd4.js
.next/static/chunks/4787e_next_dist_client_components_builtin_global-error_bb70c303.js
.next/server/chunks/ssr/4787e_next_dist_client_components_builtin_forbidden_47012bdd.js.map
.next/build/chunks/\[turbopack-node\]_transforms_postcss_ts_8ab421ff._.js
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_keyless-actions_3037f875.js
.next/server/chunks/ssr/4787e_next_dist_client_components_builtin_global-error_497a6ac9.js.map
.next/server/chunks/ssr/4787e_next_dist_client_components_builtin_unauthorized_09b7ba3f.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_server_keyless-log-cache_0828dfd4.js.map
.next/server/chunks/ssr/8484d_tailwind-merge_dist_bundle-mjs_mjs_88e25cc6._.js
.next/static/chunks/8484d_tailwind-merge_dist_bundle-mjs_mjs_4d8e7d9e._.js
.next/build/chunks/\[turbopack-node\]_transforms_postcss_ts_8ab421ff._.js.map
.next/server/chunks/ssr/8484d_tailwind-merge_dist_bundle-mjs_mjs_88e25cc6._.js.map
.next/static/chunks/8484d_tailwind-merge_dist_bundle-mjs_mjs_4d8e7d9e._.js.map
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_client_keyless-cookie-sync_b6601b1f.js
.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_4b71871f._.js
.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_59fa4ecd._.js
.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js
.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_b3e045a3._.js
.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_bf4925a4._.js
.next/static/chunks/f34d9_@clerk_nextjs_dist_esm_app-router_client_keyless-creator-reader_779b57e5.js
.next/server/chunks/ssr/f34d9_@clerk_nextjs_dist_esm_app-router_client_keyless-cookie-sync_b6601b1f.js.map
.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_4b71871f._.js.map
.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_59fa4ecd._.js.map
.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js.map
.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_bf4925a4._.js.map
.next/static/chunks/18406_geist_dist_geistsans_81192321_module_css_e59ae46c._.single.css
.next/static/chunks/18406_geist_dist_geistsans_81192321_module_css_e59ae46c._.single.css.map

# clerk configuration (can include secrets)
/.clerk/
